<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ml.lkxe.sms2.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="ml.lkxe.sms2.entity.Student">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sno" column="sno" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="sclass" column="sclass" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="searchAll" resultMap="BaseResultMap">
        select
        *
        from student
        ORDER BY id limit #{from},#{pagesize}
    </select>
    <select id="searchAllByNameAndPassword" resultMap="BaseResultMap">
        select
        *
        from student
        where
        name = #{name,jdbcType=VARCHAR}
        AND password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByNameOrMajorOrSnoIsNotNull" resultType="ml.lkxe.sms2.entity.Student">
        select  * from student
        <where>
            <choose>
            <when test="name!=null and name!=''">
                name=#{name}
            </when>
            <when test="major!=null and major!=''">
                and major=#{major}
            </when>
        <otherwise>
            and sno is not null
        </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectByIdLessThanFive" resultMap="BaseResultMap" parameterType="List">
        select
        *
        from student
        where id in
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
           #{id}
        </foreach>
    </select>

</mapper>
